services:
  ingester:
    container_name: stream-weaver-app
    image: ingester-service:0.0.1
    ports:
      - "8080:8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local
      - AWS_ENDPOINT_URL=http://host.docker.internal:4566
    extra_hosts:
      - "host.docker.internal:host-gateway" # Ensures host.docker.internal works on Linux too