server:
  port: 8080

app:
  stream:
    destination: stream-weaver-events

spring:
  application:
    name: ingester-service
  threads:
    virtual:
      enabled: true # Enable Java 25 Virtual Threads

  cloud:
    # 1. AWS Global Config
    aws:
      region:
        static: us-east-1
      dynamodb:
        enabled: true

    # 2. Stream Binding Config
    stream:
      bindings:
        # Maps the @Bean processEvent to the Kinesis Stream
        processEvent-in-0:
          destination: ${app.stream.destination}
          group: weaver-consumer-group
          consumer:
            concurrency: 3 # Virtual threads make this cheap!

      # 3. Kinesis Binder Config
      kinesis:
        binder:
          auto-create-stream: false # We used Terraform for this
          kpl-kcl-enabled: false    # Use standard binder for simplicity
          checkpoint:
            table: StreamWeaverCheckpoints
          locks:
            table: StreamWeaverLocks
